# Server
PORT=5000
NODE_ENV=development

# Database (MongoDB)
MONGO_URI=mongodb+srv://gthinkgroup53_db_user:WSyaOp4AEfPer1cR@cluster0.6l7uj2u.mongodb.net/?appName=Cluster0

# JWT
JWT_SECRET=gthink_erp_super_secret_key_change_in_production
JWT_EXPIRES_IN=7d

# Paystack
PAYSTACK_SECRET_KEY=sk_test_your_paystack_secret_key
PAYSTACK_PUBLIC_KEY=pk_test_your_paystack_public_key

# Frontend URL (for CORS)
FRONTEND_URL=http://localhost:3000
# gthinkgroup53_db_user
# WSyaOp4AEfPer1cR